<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C40F2666-8F32-4982-9D35-4F97A8F4FBB7</key>
	<dict>
		<key>partialPath</key>
		<string>2018/y/ysystali</string>
		<key>policySearch</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
